<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestTask</title>
    <meta property="og:title" content="The Rock" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="flex-container s-b">
                <div class="logo">
                    <div class="image-container contain">
                        <img src="../img/logo.svg" alt="">
                    </div>
                </div>
                <nav class=" ">
                    <ul id="menu-header-menu">
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Speakers</a>
                        </li>
                        <li>
                            <a href="">Agenda</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <a href="" class="btn">REGISTER</a>
                    </ul>
                </nav>
                <div class="flex-container">
                    <a href="" class="btn">REGISTER</a>
                    <div class="language-control">
                        <div class="wpml-ls-statics-shortcode_actions wpml-ls wpml-ls-legacy-dropdown js-wpml-ls-legacy-dropdown">
                            <ul>
                                <li tabindex="0" class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-ru wpml-ls-current-language wpml-ls-last-item wpml-ls-item-legacy-dropdown">
                                    <a href="#" class="js-wpml-ls-item-toggle wpml-ls-item-toggle"><span
                    class="wpml-ls-native">EN</span></a>
                                    <ul class="wpml-ls-sub-menu">
                                        <li class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-uk wpml-ls-first-item">
                                            <a href="http://validus-back.test-dwm.space/uk/"><span class="wpml-ls-native">UA</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="burger-icon">
                    <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
        </div>
    </header>