// TYPOGRAPHY START
h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    color: $color_black_01;
    line-height: 90px;
    span {
        color: $color-brand;
    }
    @media screen and (max-width: 1000px) {
        font-size: 54px;
        line-height: 80px;
    }
    @media screen and (max-width: 670px) {
        font-size: 50px;
        line-height: 66px;
    }
    @media screen and (max-width: 470px) {
        font-size: 40px;
        line-height: 56px;
    }
}

h2 {
    color: $color_black_01;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    span {
        color: $color-brand;
    }
    @media screen and (max-width: 1000px) {
        font-size: 30px;
        line-height: 38px;
    }
    @media screen and (max-width: 670px) {
        font-size: 28px;
        line-height: 36px;
    }
    @media screen and (max-width: 470px) {
        font-size: 24px;
        line-height: 32px;
    }
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: $color_black_01;
    font-size: 24px;
    line-height: 29px;
    span {
        color: $color-brand;
    }
    @media screen and (max-width: 1000px) {
        font-size: 20px;
        line-height: 25px;
    }
    @media screen and (max-width: 670px) {
        font-size: 18px;
        line-height: 23px;
    }
    @media screen and (max-width: 470px) {
        font-size: 16px;
        line-height: 20px;
    }
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    span {
        color: $color-brand;
    }
    b {
        font-weight: bold;
    }
    @media screen and (max-width: 1000px) {
        font-size: 16px;
        line-height: 23px;
    }
    @media screen and (max-width: 670px) {
        font-size: 12px;
        line-height: 19px;
    }
}

h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    span {
        color: $color-brand;
    }
    b {
        font-weight: bold;
    }
    @media screen and (max-width: 1000px) {
        font-size: 14px;
        line-height: 20px;
    }
    @media screen and (max-width: 670px) {
        font-size: 12px;
        line-height: 18px;
    }
}

h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: $color_black_04;
    span {
        color: $color-brand;
    }
    @media screen and (max-width: 1000px) {
        font-size: 14px;
        line-height: 19px;
    }
    @media screen and (max-width: 670px) {
        font-size: 12px;
        line-height: 18px;
    }
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    b {
        font-weight: bold;
    }
    @media screen and (max-width: 1000px) {
        font-size: 13px;
        line-height: 19px;
    }
    @media screen and (max-width: 670px) {
        font-size: 11px;
        line-height: 16px;
    }
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    @media screen and (max-width: 1550px) {
        margin: 0 3%;
    }
}

section {
    position: relative;
    margin-bottom: 200px;
    @media screen and (max-width: 860px) {
        margin-bottom: 100px;
    }
    @media screen and (max-width: 670px) {
        margin-bottom: 50px;
    }
}

.wrapper>.flex-container {
    margin-bottom: 40px;
    @media screen and (max-width: 670px) {
        margin-bottom: 30px;
    }
    &:only-child {
        margin-bottom: 0px;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &.col-1 {
        &>.column {
            width: 100%;
            padding: 0 200px;
            @media screen and (max-width: 1440px) {
                padding: 0 100px;
            }
            @media screen and (max-width: 1280px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &.col-2 {
        &>.column {
            width: 48%;
            &:first-child {
                margin-right: 4%;
            }
            @media screen and (max-width: 640px) {
                width: 100%;
                margin-bottom: 20px;
                &:first-child {
                    margin-right: 0%;
                }
                margin-right: 0;
            }
        }
    }
    &.col-3 {
        &>.column {
            width: 31%;
            margin: 0 1%;
            @media screen and (max-width: 1050px) {
                width: 48%;
                &:nth-child(3n) {
                    width: 100%;
                }
            }
            @media screen and (max-width: 640px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
    &.s-b {
        justify-content: space-between;
    }
}

.logo {
    max-width: 100px;
    width: 10%;
}

.btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #000000;
    cursor: pointer;
    box-sizing: border-box;
    padding: 11px 44px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: $color_black_01;
    transition: .4s;
    min-width: 250px;
    @media screen and (max-width: 1000px) {
        font-size: 12px;
        line-height: 24px;
    }
    @media screen and (max-width: 670px) {
        font-size: 10px;
        line-height: 22px;
        padding: 8px 30px;
    }
    &:hover {
        transition: .4s;
        background: $color_black_01;
        color: #fff;
    }
    &.inverse {
        background: $color_black_01;
        color: #fff;
        &:hover {
            transition: .4s;
            background: unset;
            color: $color_black_01;
        }
    }
    &.link {
        background: none;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        min-width: unset;
        &:before {
            background: url("../img/link-btn.svg") no-repeat;
            display: block;
            content: '';
            background-size: contain;
            height: 36px;
            width: 36px;
            margin-right: 20px;
            transition: .4s;
            @media screen and (max-width: 1000px) {
                font-size: 30px;
                line-height: 30px;
            }
            @media screen and (max-width: 670px) {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
        &:hover {
            color: $color_black_01;
            &:before {
                transition: .4s;
                transform: rotate(360deg);
            }
        }
        &.light {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            text-decoration-line: underline;
            text-transform: unset;
            color: $color_brand_01;
            @media screen and (max-width: 1000px) {
                font-size: 13px;
                line-height: 26px;
            }
            @media screen and (max-width: 670px) {
                font-size: 10px;
                line-height: 20px;
            }
            &:before {
                display: none;
            }
            &:hover {
                text-decoration: unset;
            }
        }
    }
}

.image-container {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    &.cover {
        img {
            object-fit: cover;
        }
    }
    &.contain {
        img {
            object-fit: contain;
        }
    }
    &.gradient {
        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(360deg, #4B3CD8 -21.42%, rgba(238, 241, 245, 0) 100%), url(glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
        }
    }
}

ul {
    li {
        display: flex;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        @media screen and (max-width: 670px) {
            font-size: 12px;
            line-height: 18px;
        }
        @media screen and (max-width: 470px) {
            font-size: 11px;
            line-height: 16px;
        }
    }
}

.checkbox-icon {
    display: inline-block;
    width: 37px;
    height: 23px;
    margin-right: 20px;
    background: $color_grey;
    border-radius: 23px;
    position: relative;
    align-self: center;
    @media screen and (max-width: 670px) {
        margin-right: 10px;
    }
    &:after {
        display: block;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
        width: 20px;
        height: 19px;
        content: '';
        border-radius: 20px;
        top: 2px;
        left: 2px;
    }
    &.active {
        background: $color_active;
        &:after {
            display: block;
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
            width: 20px;
            height: 19px;
            content: '';
            border-radius: 20px;
            right: 2px;
            left: unset;
            top: 2px;
        }
    }
}