$color_black_01: #323232;
$color_black_02: #606060;
$color_black_03: #202020;
$color_brand: #22BAC9;
$color_brand_01: #7CCDF2;
$color_black_04: #808080;
$color_grey: #E0E0E0;
$color_active:#34C759;
$main-color: #065C9E;