<div class="element cards-with-icon">
    <div class="flex-container s-b">
        <div class="card-ic">
            <div class="image-container contain">
                <img src="../img/ic-baby.svg" alt="">
            </div>
            <div class="text-container">
                <h4><b>Pediatric integrative medicine</b></h4>
                <a href="" class="btn link light">Learn more</a>
            </div>
        </div>
        <div class="card-ic">
            <div class="image-container contain">
                <img src="../img/ic-brain.svg" alt="">
            </div>
            <div class="text-container">
                <h4><b>Psychosomatic and psychosocial medicine</b></h4>
                <a href="" class="btn link light">Learn more</a>
            </div>
        </div>
        <div class="card-ic">
            <div class="image-container contain">
                <img src="../img/ic-brain.svg" alt="">
            </div>
            <div class="text-container">
                <h4><b>Psychosomatic and psychosocial medicine</b></h4>
                <a href="" class="btn link light">Learn more</a>
            </div>
        </div>
        <div class="card-ic">
            <div class="image-container contain">
                <img src="../img/ic-baby.svg" alt="">
            </div>
            <div class="text-container">
                <h4><b>Pediatric integrative medicine</b></h4>
                <a href="" class="btn link light">Learn more</a>
            </div>
        </div>
    </div>
</div>