<div class="cards element">
    <div class="flex-container col-3">
        <div class="column">
            <div class="card element">
                <h3>
                    Participation fees
                </h3>
                <div class="text-container">
                    <h4>
                        Whole congress
                    </h4>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <p>
                        Medical assistants / Nurses
                        <br>
                        <b>150 CHF</b>
                    </p>
                    <h4>
                        Day passes
                    </h4>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <p>
                        Medical assistants / Nurses
                        <br>
                        <b>150 CHF</b>
                    </p>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <a href="" class="btn">register</a>
                </div>

            </div>
        </div>

        <div class="column">
            <div class="card element">
                <h3>
                    Participation fees
                </h3>
                <div class="text-container">
                    <h4>
                        Whole congress
                    </h4>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <p>
                        Medical assistants / Nurses
                        <br>
                        <b>150 CHF</b>
                    </p>
                    <h4>
                        Day passes
                    </h4>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <p>
                        Medical assistants / Nurses
                        <br>
                        <b>150 CHF</b>
                    </p>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <a href="" class="btn">register</a>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="card element">
                <h3>
                    Participation fees
                </h3>
                <div class="text-container">
                    <h4>
                        Whole congress
                    </h4>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <p>
                        Medical assistants / Nurses
                        <br>
                        <b>150 CHF</b>
                    </p>
                    <h4>
                        Day passes
                    </h4>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <p>
                        Medical assistants / Nurses
                        <br>
                        <b>150 CHF</b>
                    </p>
                    <p>
                        Physicians members pädiatrie schweiz
                        <br>
                        <b>300 CHF</b>
                    </p>
                    <a href="" class="btn">register</a>
                </div>

            </div>
        </div>
    </div>
</div>