<div class="horizontal-bar element">
    <div class="tabs-container">
        <div class="flex-container">
            <div class="tab active" id="info-1">
                <h3>Day 1</h3>
                <h5>Thursday, 10 Jun 2021 </h5>
            </div>
            <div class="tab" id="info-2">
                <h3>Day 2</h3>
                <h5>Thursday, 10 Jun 2021 </h5>
            </div>
        </div>
    </div>
    <div class="info-container">
        <div class="container active" id="info-1">
            <div class="schedule">
                <div class="time">
                    <h6>08.00 – 09.15</h6>
                </div>
                <h5><b><a href="">Plenary lectures 1</a></b></h5>
                <h6>Pediatric integrative medicine in Switzerland </h6>
                <h6>Pediatric integrative medicine in Europe – status quo and current challenges. Pediatric integrative medicine in Europe – status quo and current challenges </h6>
            </div>
            <div class="schedule">
                <div class="time">
                    <h6>08.00 – 09.15</h6>
                </div>
                <h5><b><a href="">Plenary lectures 1</a></b></h5>
                <h6>Pediatric integrative medicine in Switzerland </h6>
                <h6>Pediatric integrative medicine in Europe – status quo and current challenges </h6>
            </div>
            <div class="schedule">
                <div class="time">
                    <h6>08.00 – 09.15</h6>
                </div>
                <h5><b><a href="">Plenary lectures 1</a></b></h5>
                <h6>Pediatric integrative medicine in Switzerland </h6>
                <h6>Pediatric integrative medicine in Europe – status quo and current challenges </h6>
            </div>

        </div>
        <div class="container" id="info-2">
            <div class="schedule">
                <div class="time">
                    <h6>08.00 – 09.15</h6>
                </div>
                <h5><b><a href="">Plenary lectures 1</a></b></h5>
                <h6>Pediatric integrative medicine in Switzerland </h6>
                <h6>Pediatric integrative medicine in Europe – status quo and current challenges </h6>
            </div>
            <div class="schedule">
                <div class="time">
                    <h6>08.00 – 09.15</h6>
                </div>
                <h5><b><a href="">Plenary lectures 1</a></b></h5>
                <h6>Pediatric integrative medicine in Switzerland </h6>
                <h6>Pediatric integrative medicine in Europe – status quo and current challenges </h6>
            </div>


        </div>
    </div>
</div>