<div class="element profiles-cards">
    <div class="flex-container s-b">
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container cover">
                    <img src="../img/profile.jpeg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container contain">
                    <img src="../img/no-photo.svg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container cover">
                    <img src="../img/profile.jpeg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container contain">
                    <img src="../img/no-photo.svg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container contain">
                    <img src="../img/no-photo.svg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container contain">
                    <img src="../img/no-photo.svg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container contain">
                    <img src="../img/no-photo.svg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container contain">
                    <img src="../img/no-photo.svg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container contain">
                    <img src="../img/no-photo.svg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container cover">
                    <img src="../img/profile.jpeg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container cover">
                    <img src="../img/profile.jpeg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
        <div class="card-profile">
            <div class="photo-container">
                <div class="image-container cover">
                    <img src="../img/profile.jpeg" alt="">
                </div>
            </div>
            <div class="text-container">
                <h5>Benedikt Huber</h5>
                <h6>Doctor, scientist</h6>
            </div>
        </div>
    </div>
    <a href="" class="btn link">View all speakers</a>
</div>