<div class="slider-tabs element">
    <div class="flex-container col-2">
        <div class="column">
            <div class="slider-tabs_controller">
                <div class="slider-tabs_image-container">
                    <div class="slide" id="slide-1">
                        <div class="image-container cover">
                            <img src="../img/img_2.png" alt="">
                        </div>
                    </div>
                    <div class="slide" id="slide-2">
                        <div class="image-container cover">
                            <img src="../img/img_2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-tabs_list">
                    <p>Sessions Studied<span>5</span></p>
                    <ul>
                        <li class="active" id="slide-1"><span class="icon"><img src="../img/ic-1.svg" alt=""></span>Dashboard</li>
                        <li><span class="icon" id="slide-2"><img src="../img/ic-2.svg" alt=""></span>Sessions</li>
                        <li><span class="icon"><img src="../img/ic-1.svg" alt=""></span>Dashboard</li>
                        <li><span class="icon"><img src="../img/ic-2.svg" alt=""></span>Sessions</li>
                        <li><span class="icon"><img src="../img/ic-1.svg" alt=""></span>Dashboard</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="slide-container" id="slide-1">
                <div class="title-container">
                    <h2><span>Interactive congress & </span>virtual experience</h2>
                </div>
                <div class="content-container">
                    <ul>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon active"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon active"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon active"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slide-container active" id="slide-2">
                <div class="title-container">
                    <h2><span>Interactive congress & </span>virtual experience</h2>
                </div>
                <div class="content-container">
                    <ul>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon active"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon active"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon active"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                        <li>
                            <span class="checkbox-icon"></span> Follow the congress on any device, wherever you are
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>